<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.bee.mapper.BeeboxInfoMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.bee.entity.BeeboxInfo">
    <id column="bbid" jdbcType="VARCHAR" property="bbid" />
    <id column="recv_time" jdbcType="TIMESTAMP" property="recvTime" />
    <result column="weight_frame_rate" jdbcType="DOUBLE" property="weightFrameRate" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="temper" jdbcType="DOUBLE" property="temper" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bbid, recv_time, weight_frame_rate, weight, temper
  </sql>
  <select id="selectByExample" parameterType="org.jeecg.modules.bee.entity.BeeboxInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_beebox_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="org.jeecg.modules.bee.entity.BeeboxInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_beebox_info
    where bbid = #{bbid,jdbcType=VARCHAR}
      and recv_time = #{recvTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.jeecg.modules.bee.entity.BeeboxInfoKey">
    delete from ums_beebox_info
    where bbid = #{bbid,jdbcType=VARCHAR}
      and recv_time = #{recvTime,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="org.jeecg.modules.bee.entity.BeeboxInfoExample">
    delete from ums_beebox_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.jeecg.modules.bee.entity.BeeboxInfo">
    insert into ums_beebox_info (bbid, recv_time, weight_frame_rate, 
      weight, temper)
    values (#{bbid,jdbcType=VARCHAR}, #{recvTime,jdbcType=TIMESTAMP}, #{weightFrameRate,jdbcType=DOUBLE}, 
      #{weight,jdbcType=DOUBLE}, #{temper,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="org.jeecg.modules.bee.entity.BeeboxInfo">
    insert into ums_beebox_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bbid != null">
        bbid,
      </if>
      <if test="recvTime != null">
        recv_time,
      </if>
      <if test="weightFrameRate != null">
        weight_frame_rate,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="temper != null">
        temper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bbid != null">
        #{bbid,jdbcType=VARCHAR},
      </if>
      <if test="recvTime != null">
        #{recvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weightFrameRate != null">
        #{weightFrameRate,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="temper != null">
        #{temper,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.jeecg.modules.bee.entity.BeeboxInfoExample" resultType="java.lang.Long">
    select count(*) from ums_beebox_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_beebox_info
    <set>
      <if test="record.bbid != null">
        bbid = #{record.bbid,jdbcType=VARCHAR},
      </if>
      <if test="record.recvTime != null">
        recv_time = #{record.recvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.weightFrameRate != null">
        weight_frame_rate = #{record.weightFrameRate,jdbcType=DOUBLE},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.temper != null">
        temper = #{record.temper,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_beebox_info
    set bbid = #{record.bbid,jdbcType=VARCHAR},
      recv_time = #{record.recvTime,jdbcType=TIMESTAMP},
      weight_frame_rate = #{record.weightFrameRate,jdbcType=DOUBLE},
      weight = #{record.weight,jdbcType=DOUBLE},
      temper = #{record.temper,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.bee.entity.BeeboxInfo">
    update ums_beebox_info
    <set>
      <if test="weightFrameRate != null">
        weight_frame_rate = #{weightFrameRate,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="temper != null">
        temper = #{temper,jdbcType=DOUBLE},
      </if>
    </set>
    where bbid = #{bbid,jdbcType=VARCHAR}
      and recv_time = #{recvTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.bee.entity.BeeboxInfo">
    update ums_beebox_info
    set weight_frame_rate = #{weightFrameRate,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      temper = #{temper,jdbcType=DOUBLE}
    where bbid = #{bbid,jdbcType=VARCHAR}
      and recv_time = #{recvTime,jdbcType=TIMESTAMP}
  </update>
</mapper>